<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>PicSpotlight</title>
    <link href="/static/css/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <link href="/static/css/dropzone.css" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png"/>
    <script data-search-pseudo-elements defer
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js"
            crossorigin="anonymous"></script>
</head>
<body>
<div id="layoutDefault">
    <div id="layoutDefault_content">
        <main>
            <nav class="navbar navbar-marketing navbar-expand-lg bg-white navbar-light fixed-top">
                <div class="container">
                    <a class="navbar-brand text-primary" href="/">PicSpotlight</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mr-lg-5">
                            <li class="nav-item"><a class="nav-link" href={{ url_for('index') }}>Home </a></li>
                            <li class="nav-item dropdown dropdown-xl no-caret"></li>
                        </ul>
                        <a class="btn-primary btn rounded-pill px-4 ml-lg-4"
                           href={{ url_for('login') }}>Log In<i
                                class="fas fa-arrow-right ml-1"></i></a>
                    </div>
                </div>
            </nav>
            <header class="page-header page-header-light bg-white">
                <div class="page-header-content">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-10 text-center" data-aos="fade">
                                <h1 class="page-header-title">Quickly remove an image background</h1>
                                <p>Drag and drop an image or click to upload.</p>
                                <div id="dropzone_div">
                                    <form class="dropzone" action="/uploads" onsubmit="imageuploadfunc()"
                                          id="image_dropzone_upload"></form>
                                </div>
                                <div id="imgDiv" class="row">

                                    <a class="btn-primary btn rounded-pill px-4 " id="downloadButton">Download Image<i class="fas fa-arrow-right ml-1"></i></a>
                                    <img id='bg_img' src=""/>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="svg-border-rounded text-light">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none"
                         fill="currentColor">
                        <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
                    </svg>
                </div>
            </header>
            <section class="bg-light py-10">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col align-self-center" data-aos="fade"><h1
                                class="page-header-title"></h1>
                            <div class="img-comp-container ">
                                <div class="img-comp-img ">
                                    <img src="/static/assets/img/mav1.jpg" width="600" height="450">
                                </div>
                                <div class="img-comp-img img-comp-overlay ">
                                    <img src="/static/assets/img/mavgrid.png" width="600" height="450">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <div id="layoutDefault_footer">
        <footer class="footer pt-10 pb-5 mt-auto bg-dark footer-dark">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-brand">PicSpotlight</div>
                        <div class="icon-list-social mb-5">
                            <a class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-instagram"></i></a><a
                                class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-facebook"></i></a><a
                                class="icon-list-social-link" href="javascript:void(0);"><i
                                class="fab fa-github"></i></a><a class="icon-list-social-link"
                                                                 href="javascript:void(0);"><i
                                class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
                <hr class="my-5"/>
                <div class="row align-items-center">
                    <div class="col-md-6 small">Copyright &copy; PicSpotlight 2020</div>
                    <div class="col-md-6 text-md-right small">
                        <a href="javascript:void(0);">Privacy Policy</a>
                        &middot;
                        <a href="javascript:void(0);">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/static/js/scripts.js"></script>
<script src="/static/js/dropzone.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    initComparisons()
    window.onload = function () {
        console.log("window onload called.......");
        var x = document.getElementById("imgDiv");
        x.style.display = "none";
    };

    Dropzone.options.imageDropzoneUpload = {
        timeout: 0,
        acceptedFiles: "image/*",
        init: function () {
            this.on('success', function (file, resp) {
                console.log('dropzone sucess func called.....')
                console.log(resp)
                var download_url = resp.split("/");
                img_file_name = download_url[3];
                console.log(img_file_name)
                var x = document.getElementById("imgDiv");
                x.style.display = "block";
                img_url_base = '/static/downloads_preview/'
                img_src = img_url_base.concat(img_file_name)
                console.log(img_src)
                document.getElementById("bg_img").src = img_src;

                var url_base = '/download/'
                download_url = url_base.concat(img_file_name)
                console.log(download_url)
                document.getElementById("downloadButton").setAttribute("href", download_url);
            });
        },

    };

    function imageuploadfunc() {
        console.log('image upload func called......')
        return true

    }

    AOS.init({
        disable: 'mobile',
        duration: 600,
        once: true
    });
</script>
</body>
</html>
